@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body {
  font-family: "Raleway", sans-serif !important;
  background-color: cornsilk !important;
}

h2,
h3 {
  padding: 20px 0;
}
h2 {
  font-weight: bold;
}

#heroBanner {
  margin-top: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(https://source.unsplash.com/1_CMoFsPfso/1600x900) no-repeat
    center center/cover;
  /* Photo by Joanna Kosinska/Unsplash */
  height: 50vh;
  width: 100%;
}

#scrollTop {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 199;
  border: none;
  outline: none;
  background-color: orange;
  color: white;
  padding: 15px;
  border-radius: 10px;
  font-size: 1.5rem;
}

#scrollTop:hover {
  background-color: #555;
}

#about {
  padding: 100px 0;
}

#myPhoto {
  width: 15%;
  min-width: 280px;
}

#education {
  padding: 50px 0;
}
#skills {
  padding: 50px 0;
}
.skillList {
  border-radius: 10px;
  padding: 20px 0;
}
#skillCard {
  text-align: center;
  padding: 10px;
  background-color: wheat;
}
.certificateImg {
  max-width: 100%;
  margin: 10px 0;
}
.newClass {
  max-width: 200%;
}

.projectRow {
  padding-top: 40px;
}

#musicAppImg {
  max-width: 100%;
}

#mtgGameRulesImg {
  max-width: 100%;
}

#footer {
  background-color: #343a40;
  color: white;
  padding: 50px 0;
}
.footerIcon {
  font-size: 2em;
  margin-right: 20px;
  color: lightgray;
}
.footerIcon:hover {
  color: white;
}
